

    <div class="col-xs-9">
      <section class="Users">
        <h2>Users</h2>
        <table class="table">
          <tr><th style="width: 25%">image</th><th style="width: 55%">name</th><th width="30%"></th></tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:"jpeg", fallback: "noimage.jpg", size: "40x40" %></td>
              <td><%= user.name %></td>
              <td><%= link_to "Show", user_path(user.id) %></td>
            </tr>
          <% end %>
        </table>
      </section>
  </div>
</div>



</section>