<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
            <% if notice %>
        <p class="text-success"><%= notice %></p>
      <% elsif alert %>
        <p class="text-danger"><%= alert %></p>
      <% end %>
<h1>Welcome to Bookers!!</h1>
<p>
  In Bookers,<br>
  you can share and exchange your opinions impressions, and emotions<br>
  about various books!!
</p>
<p style="width: 90%; margin: 0 auto;"><%= link_to "Log in", new_user_session_path, class: "btn btn-block btn-info" %></p>
<p style="width: 90%; margin: 0 auto;"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-block btn-success" %></p>
</div>
</div>
</div>